@keyframes animation {
	0% {
		left: 0%;
	}
	5% {
		left:5%;
	}
	10% {
		left: 10%;
	}
	15% {
		left: 15%
	}
	20% { 
		left: 20%;
	}
	25% {
		left: 25%;
	}
	30% {
		left: 30%;
	}
	35% {
		left: 35%;
	}
	40% {
		left: 40%;
	}
	45% {
		left: 45%;
	}
	50% {
		left: 50%;
	}
	55% {
		left: 55%;
	}
	60% {
		left: 60%;
	}
	65% {
		left: 65%;
	}
	70% {
		left: 70%;
	}
	75% {
		left: 75%;
	}
	80% {
		left: 80%;
	}
	85% {
		left: 85%;
	}
	90% {
		left: 90%;
	}
	95% {
		left: 95%;
	}
	100% {
		left: 100%;
	}
}
img {
	width: 75px;
	position: relative; right: 0px;
	animation-name: animation;
	animation-duration: 3s;
	animation-timing-function: ease-in;
	animation-fill-mode: forwards;
}
h2 {
	font-family: Georgia, serif;
	position: relative; left: 33%;
}
h4 {
	margin-left:30%;
}
section.grid-container {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	column-gap: 20px;
	row-gap: 20px;
	width: 75%;
	margin: auto;
}
.card {
	flex: 1;
	text-align: center;
	font-size: 16px;
	width:150px;
	height: 200px;
	background-color: #99CCCC;
	border: 2px solid black;
	border-radius: 30px;
	margin: auto;
}
p {
	font-size: 20px;
	position: relative; top: 33%;
	transition: color 0.2s;
	transition-delay: 0.3s;
}
.back {
	color: transparent;
	transition: color 0.3s ease;
}
.card:hover p {
	color: black;
}
